.ProfileHeader {
  position: relative;
  height: 20vh;
  background-image: url("images/setting.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ProfileHeader h1 {
  color: #555555;
  text-shadow: 0px 1px 20px #cb91f8;
  //background-color: gray;
  width: fit-content;
  text-align: left;
  margin: 0;
  padding-top: 12vh;
  padding-left: 35vh;
}

.settingMain {
  height: 100%;
  width: 100%;
  position: fixed;
}

.settingDefault {
  width: calc(100% - 300px);
  margin-left: 300px;
  padding: 0 20px 20px 20px;
  text-align: left;
}

.settingSub {
  font-weight: bold;
  font-size: large;
  width: 20vh;
  text-align: left;
}

.settingInput {
  display: inline-flex;
  text-align: center;
  align-items: center;
  margin-bottom: 5vh;
  display: flex;
  padding: 0 10vh 0 3vh;
  // justify-content: space-between;

  //width: 70vh;
}

.settingBtn {
  float: right;
  margin-right: 10vh;
}

.profile {
  position: relative;
  margin-left: 5vh;
  margin-top: -10vh !important;
  display: inline-block;
  float: left;
}

.profileImage {
  position: relative;
  height: 20vh;
  width: 20vh;
  border-radius: 35%;
}
.profilebtn {
  position: absolute;
  margin-top: -4vh;
  margin-left: 16vh;
}
