@charset "utf-8";

.loginbound {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.loginbound > h3 {
  margin-top: 150px;
  color: #666;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.idinputbox {
  display: flex;
  padding: 16px;
  margin-top: 8px;
  border: 1px solid #c1c1c1;
  border-radius: 7px;
}

.idinputbox:focus-within {
  border: 1px solid #cb91f8;
}

.input {
  width: 90%;
  border: none;
  outline: none;
  font-size: 18px;
  transform: translateX(5%);
}

input::placeholder {
  color: c1c1c1;
}

.idinputbox .icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  transform: translateY(0%);
  color: #c1c1c1;
}

.errorMessage {
  margin-top: 8px;
  color: red;
  font-size: 14px;
  transform: translateX(1.4%);
}

.pwinputbox:focus-within {
  border: 1px solid #cb91f8;
}

.pwinputbox {
  display: flex;
  padding: 16px;
  margin-top: 8px;
  border: 1px solid #c1c1c1;
  border-radius: 7px;
}

input::placeholder {
  color: c1c1c1;
}

.pwinputbox .icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  transform: translateY(0%);
  color: #c1c1c1;
}

.remember {
  display: flex;
  font-size: 18px;
  margin: 20px 0 15px;
}

.remember label input {
  width: 22px;
  height: 18px;
  flex-shrink: 0;
  accent-color: #cb91f8;
  margin-right: 5px;
}

.loginbnt {
  width: 100%;
  height: 58px;
  background: #cb91f8;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.loginbnt:disabled {
    background-color: #c1c1c1;
    color: white;
}
.searchbox {
    display: flex;
    text-align: center;
    font-size: 15px;
    justify-content: center;
    margin-top: 10%;
  }

  .searchbox > p {
    cursor: pointer;
  }
  
  .searchbox > span {
    display: flex;
    align-items: center;
    margin: 0 1.5%;
    color: #b1b1b1;
  }

  //Search.js의 scss
  .search {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .search > h3 {
    margin-top: 150px;
    color: #666;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .searchbounder {
    position: absolute;
    width: 500px;
    margin-top: 20px;
    height : 450px;
    flex-shrink: 0;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #cb91f8;
}

.searchid{
  width: 50%;
  height: 57px;
  background: #cb91f8;
  border: none;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.searchpw{
  width: 50%;
  height: 57px;
  background: #c1c1c1;
  border: none;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.nametext {
  color: #666;
  display: flex;
  margin-top: 100px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transform: translateX(1.4%);
}

.nameinputbox {
  display: flex;
  width: 90%;
  flex-shrink: 0;
  padding: 16px;
  margin-top: 10px;
  border: 1px solid #c1c1c1;
  border-radius: 7px;
  transform: translateX(1.4%);
}

.nameinputbox:focus-within {
  border: 1.5px solid #cb91f8;
}

.nameinputbox .icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  transform: translateY(0%);
  color: #c1c1c1;
}

.nameinputbox .input {
  width: 90%;
  border: none;
  outline: none;
  font-size: 18px;
  transform: translateX(5%);
}

.emailtext {
  color: #666;
  margin-top: 30px;
  display: flex;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transform: translateX(1.4%);
}

.emailinputbox {
  display: flex;
  padding: 16px;
  margin-top: 10px;
  width: 90%;
  border: 1px solid #c1c1c1;
  border-radius: 7px;
  transform: translateX(1.4%);
}

.emailinputbox:focus-within {
  border: 1.5px solid #cb91f8;
}

.emailinputbox .icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  transform: translateY(0%);
  color: #c1c1c1;
}

.emailinputbox .input {
  width: 80%;
  border: none;
  outline: none;
  font-size: 18px;
  transform: translateX(5%);
}

.idsearchbnt {
  width: 90%;
  height: 58px;
  background: #cb91f8;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.idsearchbnt:disabled {
  background-color: #c1c1c1;
  color: white;
}

//비밀번호찾기 css
.searchPwbounder {
  position: absolute;
  width: 500px;
  margin-top: 20px;
  height : 550px;
  flex-shrink: 0;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #cb91f8;
}

.searchPwid{
  width: 50%;
  height: 57px;
  background: #c1c1c1;
  border: none;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.searchPwpw{
  width: 50%;
  height: 57px;
  background: #cb91f8;
  border: none;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.checkemail{
  position: fixed;
  width: 25%;
  height: 20px;
  background: #cb91f8;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  display: block;
  margin-left: 353px;
}

.checkinputbox {
  display: flex;
  padding: 5px;
  margin-top: 20px;
  width: 30%;
  border: 1px solid #c1c1c1;
  border-radius: 7px;
  transform: translateX(4%);
}

.checkinputbox .input {
  width: 90%;
  border: none;
  outline: none;
  font-size: 18px;
  transform: translateX(5%);
}

.check{
  position: absolute;
  width: 20%;
  height: 20px;
  background: #cb91f8;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  color: #fff !important;
  cursor: pointer;
  display: block;
  margin-left: 180px;
  margin-top: -28px;
}

.pwsearchbnt {
  position: absolute;
  width: 90%;
  height: 58px;
  background: #cb91f8;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  transform: translateX(1.4%);
}

.pwsearchbnt:disabled {
  background-color: #c1c1c1;
  color: white;
}
