@charset "utf-8";
/*Login 문자*/
#loginwrap{
    padding: 50px 22px;
    box-sizing: border-box;
}
.logintext{
    display: flex;
    width: 116px;
    height: 31px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #666;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
}

.loginwrap .inputbox{
    position: relative;
    width: 316px;
    height: 49px;
    flex-shrink: 0;
    margin: 14px 0;
    border: 1px solid #C1C1C1;
    border-radius: 10px;
}

.inputbox input{
    display: flex;
    width: 85%;
    height: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    transform: translateX(18%);
}

.inputbox .icon{
    position: absolute;
    width: 25.113px;
    height: 24px;
    flex-shrink: 0;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    

}